.sanpham1{
    display: flex;
    width: 100%;
  }
.sanpham {
    margin: 5px;
    padding: 40px;
    border:2px solid;
    text-align: center;
    
  }
p:hover{
    color: orangered;
}
.gia:hover{
    color:red;
}
.sanpham:hover {
    border:2px solid orangered;
}